<h1>Show Person</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @person.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @person.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: Routes.person_path(@conn, :index) %></span>
